body {
  background-color: #f3f5fc;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 120px;
  height: 48px;
  left: 40px;
  top: 40px;
}

#textoE {
  color: #0a3871;
  background-color: transparent;
  resize: none;
  border: none;
  position: absolute;
  width: 680px;
  height: 288px;
  left: 240px;
  top: 168px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

#textoE::placeholder {
  color: #0a3871;
}

textarea:focus {
  outline: 0 none;
}

#encriptar {
  width: 328px;
  height: 67px;
  background: #0a3871;
  border-radius: 24px;
  color: #d8dfe8;
}

#desencriptar {
  width: 328px;
  height: 67px;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
}

#botones {
  position: absolute;
  left: 248px;
  top: 600px;
}

.tarjeta {
  background-color: #fff;
  border-radius: 32px;
  position: absolute;
  width: 400px;
  height: 650px;
  left: 1037px;
  top: 69px;
  justify-content: space-between;
}

#img_des {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 41px;
  top: 68px;
}

h1,
p {
  text-align: center;
  top: 200px;
}

#texto {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 47px;
  top: 328px;
}

#text_descrip {
  top: 25px;
  font-family: "Inter";
  font-size: 24px;
  line-height: 150%;
  color: #495057;
  border: none;
  resize: none;
  position: absolute;
  width: 359px;
  height: 497px;
  left: 17px;
  display: none;
}

#copiar {
  position: absolute;
  width: 376px;
  height: 63px;
  left: 13px;
  top: 577px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  background-color: transparent;
  display: none;
}

#admiracion {
  width: 16px;
  height: 16px;
}


@media screen and (max-width: 400px) {
  .encriptador {
    margin: 0 16px;
    width: calc(100% - 32px);
  }

  #textoE {
    width: calc(100% - 32px);
  }

  #botones {
    flex-direction: column;
    flex-basis: 50%;
    padding: 23px 0;
    margin-right: 0;
    margin-bottom: 12px;  
    margin-top: 12px;
    margin-left: 0;
  }
}